In [ ]:
%%!
pip install --trusted-host pypi.org ipython-sql

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

'Connected: @None'

In [4]:
import sqlite3
import pandas as pd

In [5]:
df1=pd.read_csv("/Users/apple/Desktop/takehomechallenges/sql/query_two/query_two_mobile.csv")

In [6]:
df2=pd.read_csv("/Users/apple/Desktop/takehomechallenges/sql/query_two/query_two_web.csv")

In [7]:
conn = sqlite3.connect("query_one.db")

In [ ]:
 df1.to_sql("table1",conn)

In [ ]:
 df2.to_sql("table2",conn)

In [13]:
sql_string = '''
SELECT 100*SUM(CASE WHEN m.user_id IS null THEN 1 ELSE 0 END)/COUNT(*) as WEB_ONLY,
       100*SUM(CASE WHEN w.user_id IS null THEN 1 ELSE 0 END)/COUNT(*) as MOBILE_ONLY,
       100*SUM(CASE WHEN m.user_id IS NOT null AND w.user_id IS NOT null THEN 1 ELSE 0 END)/COUNT(*) as BOTH
FROM
(SELECT distinct user_id FROM table2 ) w
FULL JOIN
(SELECT distinct user_id FROM table1 ) m
ON m.user_id = w.user_id;
'''

In [14]:
df = pd.read_sql(sql_string,conn)

In [ ]:
df