In [ ]:
%%!
pip install --trusted-host pypi.org ipython-sql

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite://

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
 df = pd.read_csv("/Users/apple/Desktop/takehomechallenges/sql/query_one.csv")

In [ ]:
conn = sqlite3.connect("query_one.db")

In [ ]:
 df.to_sql("Mytable",conn)

In [83]:
sql_string = '''
with w1 as (select *,
lag(unix_timestamp,1)over(partition by (user_id) order by (unix_timestamp)) as previous_time,
row_number()over(partition by (user_id) order by (unix_timestamp)desc) as rank
from Mytable)

select user_id,unix_timestamp-previous_time
from w1
where rank=1
order by user_id
limit 10

'''

In [84]:
df = pd.read_sql(sql_string,conn)

In [85]:
df

   user_id  unix_timestamp-previous_time
0        2                           NaN
1        3                           2.0
2        4                           4.0
3        5                           NaN
4        7                           NaN
5        8                           NaN
6        9                           NaN
7       13                           NaN
8       14                           NaN
9       15                           7.0