In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql
%load_ext sql
%sql sqlite://

['Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.7/site-packages (0.3.9)',
 'Requirement already satisfied: ipython>=1.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.8.0)',
 'Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.12.0)',
 'Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.3.0)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.7.2)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.3.9)',
 'Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.0)',
 'Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: jedi>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.15.1)',
 'Requirement already satisfied: appnope; sys_platform == "darwin" in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (41.4.0)',
 'Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.7.0)',
 'Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.0.10)',
 'Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.4.2)',
 'Requirement already satisfied: traitlets>=4.2 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)',
 'Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: parso>=0.5.0 in /opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)',
 'Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)',
 'Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)',
 '/bin/bash: line 1: fg: no job control',
 '/bin/bash: line 2: fg: no job control']

In [2]:
import sqlite3
import pandas as pd

In [3]:
 df = pd.read_csv("/Users/apple/Desktop/takehomechallenges/sql/query_5.csv")

In [4]:
conn = sqlite3.connect("query_5.db")

In [7]:
 df.to_sql("query5",conn)

In [50]:
sql_string = '''

with w1 as(
select *,
unix_timestamp-lag(unix_timestamp,1)over(partition by user_id order by unix_timestamp)  as difference,
row_number()over(partition by user_id order by unix_timestamp desc) as rank
from query5
order by user_id
)
select user_id, difference
from w1
where rank=1
'''

In [51]:
df = pd.read_sql(sql_string,conn)

In [52]:
df

      user_id  difference
0           2         NaN
1           3         2.0
2           4         4.0
3           5         NaN
4           7         NaN
...       ...         ...
6290     9992         1.0
6291     9993         NaN
6292     9994         NaN
6293     9995         NaN
6294    10000        15.0

[6295 rows x 2 columns]